<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @video.url %>
</p>

<p>
  <b>Show:</b>
  <%= @video.show.name %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', {:action => "index", :controller =>
        "videos", :id => @video.show_id} %>
