<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @video.name %>
</p>

<p>
  <b>Url:</b>
<iframe width="560" height="315" src="http://www.youtube.com/embed/<%= @video.url %>" frameborder="0" allowfullscreen></iframe>
</p>

<p>
  <b>Show:</b>
  <%= @video.show.name %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', {:action => "index", :controller =>
        "videos", :id => @video.id} %>
