<h1>Listing deleted_items</h1>

<table>
  <tr>
    <th>Element</th>
    <th>Table</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deleted_items.each do |deleted_item| %>
  <tr>
    <td><%= deleted_item.element %></td>
    <td><%= deleted_item.table %></td>
    <td><%= link_to 'Show', deleted_item %></td>
    <td><%= link_to 'Edit', edit_deleted_item_path(deleted_item) %></td>
    <td><%= link_to 'Destroy', deleted_item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Deleted item', new_deleted_item_path %>
