<%= form_for(@day) do |f| %>
    <% if @day.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@day.errors.count, "error") %> prohibited this show from being saved:</h2>

          <ul>
            <% @day.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="showField">
      <%= f.label :date %><br />
      <%= f.date_select :date %>
    </div>

    <div class="showField">
      <%= f.label :opening_time %><br />
      <%= f.time_select :opening_time %>
    </div>

    <div class="showField">
      <%= f.label :closing_time %><br />
      <%= f.time_select :closing_time %>
    </div>

    <div id="showSubmit" class="actions">
      <%= f.submit %>
    </div>
<% end %>
